<!DOCTYPE HTML>
<html>
  <head>
    <title>chatard | Flask SocketIO</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  </head>
  <body>
    <h1>chatard</h1>
    <label style="display: inline-block; width: 100px;"> Username</label> <input type="text" style="width:300px" name="user" id="user_data" placeholder="Set your username">
    <div id="log" style="height:200px; width:440px; overflow-y: scroll"></div>
    <input type="text" style="width:400px" autocomplete="off" name="emit_data" id="emit_data" placeholder="Message">

    <script >
      var send = $('#emit_data');
      var set = $('#user_data');
      var log = $('#log');

      function displayMessage(m) {
        log.append(m);
        log.scrollTop(log[0].scrollHeight);
      }

      send.attr('disabled','disabled');

      var socket = io.connect();
      socket.on('connect', function() {
          socket.emit('connect', {data: 'I\'m connected!'});
      });

      socket.on('response', function(msg) {
        displayMessage('<br>' + msg.data);
      });

      send.keypress(function(e) {
        if (e.keyCode == 13) {
          socket.emit('message', {data: username + ': ' + send.val()});
          send.val('');
        }
      });

      set.keypress(function(e) {
        if (e.keyCode == 13) {
          username = set.val();
          send.removeAttr('disabled');
          displayMessage('<br> Username set: ' + username);
          send.focus();
        }
      });
   </script>
</body>
</html>
